{% extends 'demo/application.html' %}
{% load static %}

{% block title %} Ajax Draw {% endblock title %}

{% block application_body %}
    <div class="w-100 d-flex text-center justify-content-evenly">
        <button class="btn btn-primary btn-lg" type="button" id="uploadButton">Upload</button>
        <button class="btn btn-secondary btn-lg" type="button" id="clearButton">Clear</button>
    </div>
    {% csrf_token %}
    <canvas id="myCanvas" width="280" height="280" style="background-color: black;">
        Ваш браузер не поддерживает Canvas
    </canvas>
{% endblock application_body %}

{% block application_js %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'demo/js/drawing_field_ajax.js' %}"></script>
{% endblock application_js %}