{% extends 'demo/base.html' %}

{% block main %}
    <section class="d-flex justify-content-center align-items-center">
        <div class="w-75 d-flex justify-content-evenly align-items-center">
            <div class="d-flex flex-column align-items-center justify-content-evenly" style="height: 467px;">
                {% block application_body %}{% endblock application_body %}
            </div>
            {% include 'demo/predict_table.html' %}
        </div>
    </section>
    {% block application_js %}{% endblock application_js %}
{% endblock main %}