{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'mnist_demo/css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="vh-100">
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'mnist_demo:index' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <i class="bi bi-braces-asterisk svg-medium"></i>
                    <h4 class="ml-2">recode.academy</h4>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{% url 'mnist_demo:index' %}" class="nav-link text-white">
                            <i class="bi bi-house-door svg-small"></i>
                            Main Page
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mnist_demo:form_upload' %}" class="nav-link text-white">
                            <i class="bi bi-upload svg-small"></i>
                            Form Upload
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mnist_demo:ajax_draw' %}" class="nav-link text-white">
                            <i class="bi bi-file-arrow-up svg-small"></i>
                            AJAX
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mnist_demo:ws_draw' %}" class="nav-link text-white">
                            <i class="bi bi-arrow-down-up svg-small"></i>
                            WebSocket
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="h-100 d-flex align-items-center">
    <div class="container">
        {% block main %}{% endblock main %}
    </div>
</main>
</body>
</html>