{% extends 'mnist_demo/application.html' %}
{% load static %}

{% block title %} Form Upload {% endblock title %}

{% block application_body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for el in form %}
            {{ el }}
        {% endfor %}
        <div class="text-center">
            <button class="mt-3 w-50 btn btn-primary btn-lg" type="submit">Upload</button>
        </div>
    </form>
    {% if image %}
        <img src="{{ image }}" alt="uploaded_image" width="280px">
    {% else %}
        <img src="{% static 'mnist_demo/img/cat_thumbnail.png' %}" alt="uploaded_image" width="280px">
    {% endif %}
{% endblock application_body %}