{% extends 'mnist_demo/application.html' %}
{% load static %}

{% block title %} Form Upload {% endblock title %}

{% block application_body %}
    <form class="d-flex flex-column justify-content-evenly align-items-center h-25" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for el in form %}
            {{ el }}
        {% endfor %}
        <button class="w-50 btn btn-primary btn-lg" type="submit">Upload</button>
    </form>
    {% if image %}
        <img src="{{ image }}" alt="uploaded_image" width="280px">
    {% else %}
        <img src="{% static 'mnist_demo/img/cat_thumbnail.png' %}" alt="uploaded_image" width="280px">
    {% endif %}
{% endblock application_body %}