{% extends 'mnist_demo/base.html' %}
{% load static %}

{% block title %} Main Page {% endblock title %}

{% block main %}
    <section class="d-flex justify-content-evenly align-items-center">
        <div>
            <a href="{% url 'mnist_demo:form_upload' %}" class="d-flex flex-column align-items-center text-black text-decoration-none">
                <i class="bi bi-upload svg-large"></i>
                <p class="fs-3 mt-3">Form Upload</p>
            </a>
        </div>
        <div>
            <a href="{% url 'mnist_demo:ajax_draw' %}" class="d-flex flex-column align-items-center text-black text-decoration-none">
                <i class="bi bi-file-arrow-up svg-large"></i>
                <p class="fs-3 mt-3">Ajax Draw</p>
            </a>
        </div>
        <div>
            <a href="{% url 'mnist_demo:ws_draw' %}" class="d-flex flex-column align-items-center text-black text-decoration-none">
                <i class="bi bi-arrow-down-up svg-large"></i>
                <p class="fs-3 mt-3">WebSocket Draw</p>
            </a>
        </div>
    </section>
{% endblock main %}