BODY{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.svg-small{
    display: block;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.svg-medium{
    font-size: 2.5rem;
    color: white;
}

.svg-large{
    font-size: 8rem;
    color: black;
}